<%- include('./partials/head') %>


<div id="gradient"></div>
<div id="card">
  <img src="./Mugshot.jpg"/>
  <h2>oliver Griep</h2>
  <p>Frontend student at HVA.</p>
  <p>Interested in Web technologies like HTML5, CSS3, JavaScript, nodeJS, etc.</p>
  <p>Major Ajax Fan</p>
  <span class="left bottom">Github: Oliversipho</span>
  <span class="right bottom">adress: Holland</span>
</div>


<%- include('./partials/foot') %>
