<%- include('./partials/head') %>


<article>
  <header>
    <img src="/public/public/images/Mugshot.jpg" alt="Mugshot"> 
    <h1>Oliver Griep</h1>
    <p><em>Toekomstig frontender</em></p>
  </header>
  

  <dl>
    <dt><a href="/public/styles/Hobby's.html">Hobby's</a></dt><dd>❌</dd>
    <dt><a href="/public/public/style/Ambities.html"> Ambities</a></dt><dd>❌</dd>
    <dt><a href="/public/public/style/Eigenschappen.html">Eigenschappen</a></dt><dd>❌</dd>

  </dl>

  
  <p> Ik hoop dat ik aan het einde van de opleiding met vertrouwen een website kan bouwen.
      Ik ben 20 jaar oud en woon in Amsterdam, als je het mij vraagt de mooiste stad ter wereld.
      Ik kijk er naar uit om de komende twee jaar veel te leren!
  </p>
</article>


<%- include('./partials/foot') %>
